<br>
<div class="jumbotron">
  <h3 class="display-5">Authentication and Authorisation Example</h3>
  <p class="lead">Part of Web Frameworks sample codes</p>
  <hr class="my-4">
  <p>The full project located in the folder <b>auth</b> can be found <a href="https://gitlab.fdmci.hva.nl/WEF/wf-examples">here</a></p>
  <p>You can use the following users to test your app or create a new non-admin user by using the sign-up function</p>
  <div class="row">
    <div class="col-md">
      <ul class="list-group">
        <li class="list-group-item">grace@hva.nl/grace (admin=false)</li>
        <li class="list-group-item">john.somers@hva.nl/john (admin=true) </li>
        <li class="list-group-item">jur.van.oerle@hva.nl/jur (admin=false)</li>
        <li class="list-group-item">marcio.fuckner@hva.nl/marcio (admin=true)</li>
        <li class="list-group-item">mark.smith@hva.nl/mark (admin=false)</li>
        <li class="list-group-item">tom.kemper@hva.nl/tom (admin=true)</li>
      </ul>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div>
