<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title of the quiz" ngModel [(ngModel)]="quiz.title" name="title" required>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category" name="category" ngModel [(ngModel)]="quiz.category">
      <option value="HIS">History</option>
      <option value="AST">Astronomy</option>
      <option value="CSC">Computer Science</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Full description</label>
    <textarea class="form-control" id="description" rows="3" name="description" ngModel [(ngModel)]="quiz.description"></textarea>
  </div>

  <div class="form-group">
    <label for="owner">Owner of que quiz</label>
    <input type="email" class="form-control" id="owner" placeholder="owner@acme.com" name="owner"
           email #emailComponent="ngModel" ngModel [(ngModel)]="quiz.email">

    <div *ngIf="!emailComponent.valid && emailComponent.touched" class="alert alert-warning">Please enter a valid e-mail</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
</form>


