<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Observables and Forms</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Observable Warm-up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/path1/quiz123">path1/quiz123</a>
          <a class="dropdown-item" routerLink="/path1/quiz456">path1/quiz456</a>
          <a class="dropdown-item" routerLink="/path2">Own Observable</a>
          <a class="dropdown-item" routerLink="/path3">Observable Lifecycle</a>
          <a class="dropdown-item" routerLink="/path4">Subjects</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Forms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/path5">Template-based Form</a>
          <a class="dropdown-item" routerLink="/path6">Reactive Form</a>

        </div>
      </li>
    </ul>
  </div>
</nav>
